 /*reset css*/
 
 /*글씨체 설정 및 태그가 가지고 있는 기본 css 속성들을 초기화 합니다*/
 * { margin:0; padding:0; box-sizing:border-box;}
 ul,ol,li { list-style:none;}
 a { text-decoration:none;}
 img,video { vertical-align:top;}
 table { border-collapse:collapse;}
 body { line-height:1; font-size:13px;}
 .clear_fix:after { content:""; display:block; clear:both;}